.list-container {
  background-color: rgb(238, 236, 236);
}

.list {
  list-style-type: none;
}
.list-container {
  width: 50%;
}

.shop {
  display: flex;
  flex-direction: row;
}

img {
  height: 150px;
}

img:hover img:last-child {
  display: none;
}

.modal {
  display: none;
  flex-direction: column;
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.dodaci {
  display: flex;
  flex-direction: column;
}
.dodatak {
  display: flex;
  flex-direction: row;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
